body{
    background-image: url('bg-page.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
p{
    color: darkgoldenrod;
    text-align: center;
    font-size: 12pt;
}
h1 {
    color: darkgoldenrod;
}
fieldset, legend{

    border: yellow groove;
    color: aliceblue;
    border-radius: 20px;
}
legend{
    padding: 10px;
    font-weight: bold;
    font-size: 14pt;
    
}
table{
    border: 10px;
    margin: auto;
}
div#menu{

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

}
a.item:link, a.item:visited, a.item:active{

    text-decoration: none;
    font-size: 16pt;
    color: brown;
}